body{
    font-family: 'Montserrat', sans-serif;
}
.fondo{
    background-image: url('img/fondo.jpg');
   padding-bottom: 50px;
}
.a{
    top: 120px;
    left: 100px;
}
.a p{
    width: 500px;
    height: 119px;
    text-align: left;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.a p span{
    font: normal normal bold 18px 'Montserrat', sans-serif;
}
.t1{
  
    text-align: left;
    font: normal normal bold 52px/58px 'Montserrat', sans-serif; 
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
 .b img{
    width: 400px;
    height: 702px;
}
.c2{
    background: #FFE610 0% 0% no-repeat padding-box;
    opacity: 1
}
.c2 h1{
    padding-top: 80px;
    text-align: center;
    font: normal normal 800 40px/22px 'Montserrat', sans-serif;
    letter-spacing: 3.6px;
}
.c2 p{
    padding-top: 25px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 30px;
    text-align: center;
    font: normal normal     'Montserrat', sans-serif;
    letter-spacing: 2.25px; 
}

.c3 h2 {
    padding-top: 45px;
    
    text-align: center;
    font: normal normal bold 40px/65px 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.fonNegro{
    text-align: center;
    background: #0A0A0D 0% 0% no-repeat padding-box;
}
.fonNegro h3{
   margin: 50px;  
    letter-spacing: 3.6px;
    color: #FFFFFF;
    opacity: 1;
}
.fonNegro h3 span{
    font: normal normal bold 30px/46px 'Montserrat', sans-serif;
}
.blanco{
    padding: 50px;
}
.blanco h2{
    font: normal normal 800 40px/22px 'Montserrat', sans-serif;

}
.c4 p{
    margin-left: 100px;
    margin-right: 100px;
    font: normal normal normal 22px/29px 'Montserrat', sans-serif;
   
}
.c4 p span{
    font: normal normal bold 22px 'Montserrat', sans-serif;
}
.nosotros h1{
   
    padding-left: 160px;
    padding-top: 30px;
    text-align: left;
    font: normal normal 800 40px/22px 'Montserrat', sans-serif;
    letter-spacing: 3.6px;
    color: #FFFFFF;
    opacity: 1;
}
.nosotros{
    padding-bottom: 50px;
}
.nosotros p{
    width: 500px;
    height: 459px;
    padding-left: 160px;
    padding-top: 30px;
    text-align: left;
    font: normal normal 30 15px/23px 'Montserrat', sans-serif;
    letter-spacing: 2.25px;
    color: #FFFFFF;
    opacity: 1;
}

.nosotros .na{
    margin-top: 30px;
    margin-left: 200px;
    width: 373px;
    height: 508px;
    background: #FDDD2D 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nosotros .na img{
    margin-top: 25px;
    margin-left:-25px ;
    width: 373px;
    height: 508px;
    background: #FDDD2D 0% 0% no-repeat padding-box;
    opacity: 1;
}

.nosotros .na2 {
    margin-top: 30px;
    margin-left: 200px;
    width: 373px;
    height: 380zpx;
    background: #FDDD2D 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nosotros .na2 img {
    margin-top: 30px;
    margin-left: -90px;
    width: 373px;
    height: 380zpx;
    background: #FDDD2D 0% 0% no-repeat padding-box;
    opacity: 1;
}
.nosotros .señ p{
    margin-top: 30px;
    margin-left: -100px;
    width: 528px;
    height: 20px;
    text-align: left;
    font: normal normal 30 20px/20px 'Montserrat', sans-serif; 
    letter-spacing: 0px;
    color: #FFFFFF;
}
.CasoExito h1{
    padding-top: 35px;
    font: normal normal bold 40px/43px 'Montserrat', sans-serif; 
}

.contactanos .conta{
    padding-top: 150px;
    padding-left: 25px;
    width: 642px;
    height: 470px;
    font: normal normal bold 60px/71px 'Montserrat', sans-serif; 
    letter-spacing: 2.16px;
    background: #FFE610 0% 0% no-repeat padding-box;
    opacity: 1;  
}
footer{
    height: 255px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
footer p{
    padding-top: 50px;
    font: normal normal bold 15px/21px 'Montserrat', sans-serif;
    letter-spacing: 0.72px;
    color: #000000;
    opacity: 1;
}
footer img{
    padding-left: 20px;
}